.backdrop{
    position: fixed;
    inset: 0;
    z-index: 3000;
    background-color: rgba(0, 0, 0, .55);
    backdrop-filter: blur(7px);
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease, visibility .2s ease;

    &.active{
        opacity: 1;
        visibility: visible;
    }
}

.modal{
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 3100;
    border-radius: 15px;
    padding: 35px 45px;
    margin: auto;
    width: 100%;
    max-width: 700px;
    background-color: #DDD;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease, visibility .2s ease;
    
    &.active{
        opacity: 1;
        visibility: visible;
    }

    h1 {
        color: #3b53f0;
        margin-bottom: 20px;

        &::after{
            content: '';
            display: block;
            margin-top: 10px;
            height: 2px;
            border-radius: 50px;
            background-color: #3b53f0;
            width: 15%;
        }
    }

    p {
        font-weight: 300;
        text-align: justify;
        hyphens: auto;
        -webkit-hyphens: auto;
    }

    button{
        cursor: pointer;
        background-color: #5167FF;
        color: #fff;
        font-size: 1rem;
        border: none;
        padding: 10px 25px;
        border-radius: 30px;
        margin-top: 30px;
    }
}