.video{
    position: relative;
    width: 100%;
	max-width: 450px;
    padding-top: 30px;
    padding-bottom: 22.25%;
    min-height: 252.5px;

    > div{
        background-color: rgb(240, 240, 240);
    }

    iframe, video, > div {
        position: absolute;
        top: 0;
        border-radius: 20px;
        left: 0;
        width: 100%;
        height: 100%
    }
}

.desc {
    position: absolute;
    bottom: -45px;
    left: 0;
    outline: none;
    border: none;
    border-radius: 40px;
    background-color: #5167FF;
    padding: 7px 15px;
    cursor: pointer;
    font-size: .94rem;
    color: #fff;
    transition: background-color .2s ease;

    &:hover{
        background-color: #4158e8;
    }
}